<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>

    <script type="text/javascript" src="../../static/js/lib/d3.v4.min.js" th:src="@{/js/lib/d3.v4.min.js}"></script>
</head>
<body >
    <div th:replace="Fragments/Template :: logo"></div>
	<br/>
	<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
	<div th:replace="Fragments/TemplateDashboard :: navSubBarProductsDashboard"></div>
    <div class="col-xs-2" style="margin-top: 1em;">
        <h4 style="display: inline">Product: </h4>
        <div style="display: inline-grid">
            <select id="productSelector" class="form-control"></select>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div id="gaugeChart" class="container" style="text-align:center;"></div>
    <br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/productEvaluation.js" th:src="@{/js/productEvaluation.js}"></script>
</html>