<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Fragments/Template :: header">
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
<script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>

<body>

<!-- Application Logo -->
<div th:replace="Fragments/Template :: logo"></div>
<br/>

<!-- NAvegation -->
<div th:replace="Fragments/Template :: navbar"></div>

<div class="row">

    <article class="text-frame col-lg-4" style="padding-top:1em;margin-rigth:1em;">


        <h3>Update Group name</h3>

        <div class="divisor-black"></div>

        <br/>

        <form class="full-width" th:object="${userGroup}" th:action="@{/usergroups/}" method="POST">

            <input type="hidden" th:name="id" th:value="${userGroup.getId()}" hidden="hidden"/>

            <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" class="form-control" th:name="name" th:id="name" th:value="${userGroup.getName()}" th:field="*{name}"/>
            </div>

            <div class="form-group" hidden="hidden">
                <select class="selectpicker" multiple="multiple" th:name="routes" data-width="50%">

                    <option th:each="route : ${ routes }"
                            th:value="${route.getId()}"
                            th:text="${route.getName()}"></option>

                </select>
            </div>

            <button type="submit" class="btn btn-border-black">Update</button>
        </form>

    </article>
    <article class="text-frame col-lg-8" style="padding-top:1em;margin-rigth:1em;">

        <h3>User group options </h3>

        <div class="divisor-black"></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Route</th>
                <th>Enable</th>
            </tr>
            </thead>
            <!-- Childs -->
            <tbody>

            <tr th:each="route : ${routes}">

                <td th:text="${route.getId()}"></td>
                <td th:text="${route.getName()}"></td>
                <td th:text="${route.getPath()}"></td>
                <td>
                    <input class="input_dropdown"
                           th:id="${route.getId()}"
                           th:name="${route.getId()}" type="checkbox"/>
                </td>


            </tr>
            </tbody>
            <!-- Childs -->

        </table>

    </article>
</div>

<select id="shadow_slt" hidden="hidden">

    <option th:each="i : ${ userGroup.getRoutes() }"
            th:value="${i.getId()}"
            th:text="${i.getName()}"></option>

</select>

<script>
    var _$ = [];
    var _t = [];

    $('.input_dropdown').click(function( event ){

        var curr_element = $(this)[0].name;
        var isCheck = $(this)[0].checked;

        if ( isCheck ) {
            _t.push( curr_element );
        } else {
            var pos = _t.indexOf( curr_element );
            if (pos > -1)
                _t.splice(pos,1);
        }

        $('.selectpicker').selectpicker('val', _t );
    })

    $('#shadow_slt').children('option').each(function(el){
        var element = $(this).val();

        _t.push( element );
        $("#" + element).attr('checked', true);
        _$.push( element );
    })
    $('.selectpicker').selectpicker('val', _$ );
</script>
</body>
</html>
