<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <script type="text/javascript" src="../../static/js/lib/d3.v4.min.js" th:src="@{/js/lib/d3.v4.min.js}"></script>
</head>

<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
<br/>
<br/>
<br/>
<div class="container" style="text-align:center;">
    <div style="text-align: right; padding-right: 2em;" id="HeatMap"></div>
</div>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<!--script src="https://cdn.jsdelivr.net/npm/apexcharts@3.19.2"></script-->
<script type="text/javascript" th:src="@{/js/lib/apexcharts.min.js}"></script>
<script type="text/javascript" src="../../static/js/phases.js" th:src="@{/js/phases.js}"></script>
<script>
    window.onload = function() {
        checkCategories();
        getPhasesList ();
    };
</script>
<script type="text/javascript" th:src="@{/js/app/app.services.js}"></script>
</html>