<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <script type="text/javascript" src="../../static/js/lib/d3.v4.min.js" th:src="@{/js/lib/d3.v4.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-slider.min.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap-slider.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/Chart.min.js}"></script>
</head>
<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: navSubBarSimulationDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
<div style="width:100%; overflow: hidden; padding-left: 5%; padding-right: 5%;">
    <h1 align="center">Strategic Indicator Simulation</h1>
    <br/>
    <div id="factors" style=" width: 33%; float: left">
        <h3>Factors</h3>
        <br/>
        <div id="qualityFactors">
        </div>
        <div style="margin-top: 3em;">
            <button id="apply" class="btn btn-primary">Apply</button>
            <button id="restore" class="btn btn-primary">Restore</button>
        </div>
    </div>
    <div style="width: 66%; float: right; overflow: hidden; text-align: center;">
        <div id="radarChart" style="padding-left: 2em; padding-right: 2em; width: 50%; float: left;">
            <h3>Detailed Strategic Indicators</h3>
            <div style="width: 12em; display: inline-block">
                <div id="currentColorDetailed" style="float: left; height: 20px; width: 20px; border: 1px solid black; clear: both">
                </div>
                Current Assessment
            </div>
            <div style="width: 13em; display: inline-block">
                <div id="simulationColorDetailed" style="float: left; height: 20px; width: 20px; border: 1px solid black; clear: both">
                </div>
                Simulated Assessment
            </div>
        </div>
        <div id="gaugeChart" style="padding-left: 4em; padding-right: 4em; width: 50%; float: right;">
            <h3>Strategic Indicators</h3>
            <div style="width: 12em; display: inline-block">
                <div id="currentColor" style="float: left; height: 20px; width: 20px; border: 1px solid black; clear: both">
                </div>
                Current Assessment
            </div>
            <div style="width: 13em; display: inline-block">
                <div id="simulationColor" style="float: left; height: 20px; width: 20px; border: 1px solid black; clear: both">
                </div>
                Simulated Assessment
            </div>
        </div>
    </div>
</div>
<br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/gaugeChart.js" th:src="@{/js/gaugeChart.js}"></script>
<script type="text/javascript" src="../../static/js/simulationFactors.js" th:src="@{/js/simulationFactors.js}"></script>
</html>