<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
</head>
<body ng-app="TablesApp" ng-controller="TablesCtrl">
<div th:replace="Fragments/Template :: logo"></div>
<br/>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<br/>
<div class="container" id="tableCurrent" ng-init="getQRCost()">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Comments</th>
            <th>Description</th>
            <th>goal</th>
            <th>Cost Function</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in data">
            <td id="name" >{{d.name}}</td>
            <td id="comments">{{d.comments}}</td>
            <td id="description" >{{d.description}}</td>
            <td id="goal">{{d.goal}}</td>
            <td id="costFunction">{{d.costFunction}}</td>
            <td><button type="button" onclick="giveQR(d.name, d.comments, d.description, 'NewQR')"> New QR </button></td>
            <td><button type="button" onclick="giveQR(d.name, d.comments, d.description, 'IgnoreQR')"> Ignore QR </button></td>
            <td><button type="button"> Cancel </button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/feedback.js" th:src="@{/js/feedback.js}"></script>
</html>