<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: ChartView"></th:block>
</head>
<body>
    <div th:replace="Fragments/Template :: logo"></div>
    <div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
    <table style="width:100%">
        <tr>
            <td width="80%"><div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div></td>
            <td width="20%"><div th:replace="Fragments/TemplateDashboard :: RepresentationMode"></div></td>
        </tr>
    </table>
    <br/>
    <br/>
    <h1 id="title" align="center"></h1>
    <p th:replace="Fragments/TemplateDashboard :: navLinkQF"></p>
    <br/>
    <br/>
    <div id="radarChart"   style="text-align:center;"></div>
    <br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/parseDataQFCurrent.js" th:src="@{/js/parseDataQFCurrent.js}"></script>
<script type="text/javascript" src="../../static/js/radarChart.js" th:src="@{/js/radarChart.js}"></script>
</html>