<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: ChartView"></th:block>
</head>
<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
<table style="width:100%">
    <tr>
        <td width="80%"><div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div></td>
        <td width="20%"><div th:replace="Fragments/TemplateDashboard :: RepresentationMode"></div></td>
    </tr>
</table>
<br/>
<br/>
<h1 id="title" align="center"></h1>
<p style="margin-left: 20px; font-size: medium; font-family: Arial "><a id="originSIQF" href="../StrategicIndicators/CurrentChart"></a></p>
<br/>
<br/>
<div class="container" style="text-align:center;">
    <div style="text-align: right; padding-right: 2em;" id="StackedBarChart"></div>
</div>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/parseDataDetailedSICurrent.js" th:src="@{/js/parseDataDetailedSIStacked.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="../../static/js/stackedBarChart.js" th:src="@{/js/stackedBarChart.js}"></script>
</html>
