<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: HistoricChartView"></th:block>
</head>
<body>
    <div th:replace="Fragments/Template :: logo"></div>
    <div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
    <div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
    <br/>
    <br/>
    <h1 id="title" align="center"></h1>
    <p style="margin-left: 20px; font-size: medium; font-family: Arial "><a id="originSIQF" href="../StrategicIndicators/HistoricChart"></a></p>
    <th:block th:replace="Fragments/TemplateDashboard :: HistoricChart"></th:block>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsHistoric"></th:block>
<script type="text/javascript" src="../../static/js/parseDataDetailedSIHistorical.js" th:src="@{/js/parseDataDetailedSIHistorical.js}"></script>
<script type="text/javascript" th:src="@{/js/getDecisions.js}"></script>
<script type="text/javascript" src="../../static/js/stackedLineChart.js" th:src="@{/js/stackedLineChart.js}"></script>
</html>