<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <link rel="stylesheet" th:href="@{/css/products.css}" />
</head>
<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div>
<br/><br/>
<br/><br/>
<div id="ReportingView">
    <div id="ProjectSelector">
        <ul id="ElementList" class="list-group">
        </ul>
    </div>
    <div id="ReportingInfo">
        <div id="tableREPdiv" class="table-editable" style="display: none">
            <div class="container" >
                <span><b> &nbsp; Search:</b></span> <input id="searchInput" type="text">
                <br/><br/>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Report Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="tableREP">
                    </tbody>
                </table>
            </div>
            <br/>
        </div>
    </div>
</div>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" th:src="@{/js/reporting.js}"></script>
</html>