<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <script type="text/javascript" src="../../static/js/lib/d3.v4.min.js" th:src="@{/js/lib/d3.v4.min.js}"></script>
</head>
<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
<table style="width:100%">
    <tr>
        <td width="80%"><div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div></td>
        <td width="20%">
            <div th:replace="Fragments/TemplateDashboard :: MetricRepresentationMode"></div>
            <form style="display: flex; justify-content: flex-end; margin-right: 5px; font-size: 12px">
                <input type="checkbox" id="groupByFactorCheckbox" onclick="clickCheckbox()">&nbsp;Group by factor</input>
            </form>
        </td>
    </tr>
</table>
<br/>
<br/>
<h1 id="title" align="center"></h1>
<p th:replace="Fragments/TemplateDashboard :: navLinkMetrics"></p>
<br/>
<div id="gaugeChart" class="container" style="text-align:center;"></div>
<br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/gaugeChart.js" th:src="@{/js/gaugeChartMet.js}"></script>
<script>
    window.onload = function() {
        var groupByFactor = new Boolean(sessionStorage.getItem("groupByFactor"));
        if (groupByFactor.valueOf() == true) {
            document.getElementById("groupByFactorCheckbox").setAttribute("checked","checked");
        }
        getData(200, 200, true);
    };
</script>
</html>