<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="Fragments/TemplateDashboard :: basicHeader"></th:block>
    <script type="text/javascript" src="../../static/js/lib/d3.v4.min.js" th:src="@{/js/lib/d3.v4.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap-slider.min.css}" />
    <script type="text/javascript" th:src="@{/js/bootstrap-slider.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/Chart.min.js}"></script>
</head>
<body>
<div th:replace="Fragments/Template :: logo"></div>
<div th:replace="Fragments/TemplateDashboard :: navBarDashboard"></div>
<div th:replace="Fragments/TemplateDashboard :: navSubBarAssessmentDashboard"></div>
<table style="width:100%">
    <tr>
        <td width="80%"><div th:replace="Fragments/TemplateDashboard :: ProjectSelector"></div></td>
        <td width="20%"><div th:replace="Fragments/TemplateDashboard :: MetricRepresentationMode"></div></td>
    </tr>
</table>
<br/>
<br/>
<h1 id="title" align="center"></h1>
<p th:replace="Fragments/TemplateDashboard :: navLinkMetrics"></p>
<div style="width:100%; overflow: hidden; padding-left: 5%; padding-right: 5%;">
    <div id="metrics" style=" width: 100%; float: left; position: absolute;">
        <br/>
        <div id="metricsSliders">
        </div>
    </div>

</div>
<br/>
</body>
<th:block th:replace="Fragments/TemplateDashboard :: scriptsBasic"></th:block>
<script type="text/javascript" src="../../static/js/sliderChartMet.js" th:src="@{/js/sliderChartMet.js}"></script>
</html>